* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

h2 {
  font-family: "Poppins", sans-serif;
}

.sections {
  color: hsl(192, 100%, 9%);
}
.first-paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  width: 21.5rem;
}

.nav-btn {
  border: none;
  background-color: #fff;
  border-radius: 15px;
  padding: 0.3rem;
  width: 3.5cm;
  font-weight: 700;
  font-size: 10px;
}

.bg-hero {
  background-image: url(/images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(193, 100%, 96%);
  height: 34rem;
}

.first {
  font-size: 10px;
  background-color: hsl(322, 100%, 66%);
  border: none;
}

.second .container {
  margin-top: 5rem;
}

.second .container,
.third .container,
.fourth .container {
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  max-width: 50rem;
  height: 40vh;
}

.second p,
.fourth p {
  font-size: 12px;
  font-weight: 200;
  opacity: 0.5;
  font-family: "Open Sans", sans-serif;
}

.third p {
  font-size: 13px;
  font-weight: 200;
  opacity: 0.5;
  font-family: "Open Sans", sans-serif;
  padding-right: 1rem;
}

.headn-p {
  margin-top: 5rem;
}

.sign-up {
  border-radius: 10px;
  box-shadow: 0 0 2px #ccc;
  align-items: center;
  height: 25vh;
  width: 60vw;
  text-align: center;
  background-color: #fff;
}
.sign-up h2 {
  font-size: 18px;
  margin-top: 3rem;
  color: hsl(192, 100%, 9%);
}

.overlap {
  position: relative;
  top: 4rem;
  width: 30rem;
}

.overlap .last {
  font-size: 10px;
  background-color: hsl(322, 100%, 66%);
  border: none;
  padding: 15px;
  padding-left: 4rem;
  padding-right: 4rem;
}

/*footer {
  margin-top: 2rem;
}*/

.footer-image {
  color: yellow;
}

.location p {
  font-size: 10px;
  line-height: 1.5;
  margin-left: 1.5rem;
  margin-top: -1.1rem;
}
.phone {
  margin-top: -1rem;
}
.phone p {
  font-size: 10px;
  line-height: 1.5;
  margin-left: 1.5rem;
  margin-top: -1.1rem;
}

.about-us {
  font-size: 10px;
  line-height: 1.5;
  margin-left: 2rem;
  margin-top: 5rem;
}

.about-us a {
  text-decoration: none;
  cursor: pointer;
}

.about-us p {
  margin-bottom: 0.5rem;
}

.copyright {
  font-size: 10px;
  margin-left: 2rem;
  margin-top: 2rem;
}
.copyright a {
  text-decoration: none;
}

.socials {
  margin-top: 5rem;
  margin-right: 5rem;
}

.socials a {
  border-radius: 50%;
  font-size: 11px;
  padding: 6px;
  text-align: center;
  height: 26px;
}

@media screen and (max-width: 600px) {
  .general {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sections .build p {
    font-weight: 400;
    font-size: 14px;
    width: 21rem;
    padding-left: 2rem;
    padding-right: 2.5rem;
  }

  .sections .mockup {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .build h2 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .bg-hero {
    height: 50rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .second .container .third .container,
  .fourth .container {
    height: fit-content;
  }

  .grow img {
    width: 25rem;
  }

  .sections .build,
  .sections .grow,
  .sections.flowing,
  .sections.users {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 2rem;
  }

  .overlap {
    position: relative;
    top: 2rem;
    left: 2rem;
  }

  .sign-up {
    width: 85vw;
    height: 20vh;
  }

  .sign-up h2 {
    font-size: 13px;
  }

  .overlap .last {
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer-image {
    position: relative;
    left: -7rem;
  }
  .footer-image svg {
    fill: #fff;
  }

  .location,
  .phone {
    text-align: left;
    margin-bottom: 2rem;
  }

  .location p {
    font-size: 13px;
    max-width: 15rem;
  }

  .about-us {
    text-align: left;
    margin-left: 1.5rem;
    margin-top: 0;
  }

  .copyright {
    position: relative;
    bottom: 2rem;
  }
}
